{% extends "base.html" %}

{% block content %}
<h1>Отзывы</h1>
<form action="" method="post">
<!--<form method=post enctype=multipart/form-data></form>-->
<!--    <input type=file name=file>-->
<!--    <input type=submit value=Upload>-->
    <p align="right">{{ form.send_but(type="submit", class="btn btn-primary") }}</p>
</form>
{% for c in comments[::-1] %}
    {% for u in users %}
        {% if u.email == c.email %}
            <div>
                <i><b>{{u.name}} {{u.surname}}</b></i>:
                <span>{{c.content}}</span>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}