{% extends "base.html" %}

{% block content %}
<h1 class="left-h2 mt-50">Оставить отзыв</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p class="p15pt">
    <p class="p15pt">{{ form.content.label }}</p>
    <p class="p15pt">{{ form.content(class="form-control") }}</p>
        {% for error in form.content.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary sign pl-3 pr-3 w-100p") }}</p>
    {{message}}
</form>
{% endblock %}