{% extends "base.html" %}

{% block content %}
    <h1 class="center-h1"><b>Авторизация</b></h1>
    <form action="" method="post"  class="width-40">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email(class="form-control myformelem", type="email",  placeholder="Почта") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password(class="form-control myformelem", type="password",  placeholder="Пароль") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="p15pt">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary sign pl-3 pr-3") }}</p>
        <div>{{ message }}</div>
        <p class="p15pt">Ещё нет аккаунта?<br>Тогда <a href="../register">зарегистрируйтесь.</a></p>
    </form>
{% endblock %}