{% extends "base.html" %}

{% block content %}
    <h1 class="center-h1"><b>Услуги</b></h1>
    {% for spec in specialties %}
        <h2 class="left-h2-mini"><b>{{spec.title}}</b></h2>
        <div class="price-list">
            {% for prive in service %}
                {% if spec.id == prive.dep_id %}
                    <div  class="price-item">
                        <table width="100%">
                            <tr>
                                <td class="hide"><a href="/note"><button type="button" class="btn btn-info sign less">Записаться</button></a></td>
                                <td class="will-hide"><p class="p20pt2"><b>{{ prive.title }}</b></p></td>
                                <td class="will-hide"><p class="p20pt-dark right"><b>{{ prive.cost }} руб.</b></p></td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
