{% extends "base.html" %}

{% block content %}
    <h1 class="center-h1"><b>Расписание</b></h1>
    <table align="center" border="1" class="timetable">
        <tr align="center" class="zag">
            <th>Отделение</th>
            <th>Доктор</th>
            <th>Специальность</th>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
            <th>Воскресенье</th>
        </tr>
        {% set tab_pos = namespace(value=0) %}
        {% set join_pos = namespace(value=0) %}
        {% for d in data %}
            {% for dep in deps %}
                {% for doc in doctors %}
                    {% if doc.id == d.doc_id and doc.profession == dep.id %}
                        <tr>
                            {% if tab_pos.value != indexes[join_pos.value] %}
                                {% if tab_pos.value == (indexes[join_pos.value] - 1) %}
                                    <td rowspan="2">{{ dep.title }}</td>
                                {% else %}
                                <td>{{ dep.title }}</td>
                                {% endif %}
                            {% else %}
                                {% if join_pos.value < 4 %}
                                    {% set join_pos.value = join_pos.value + 1 %}
                                {% endif %}
                            {% endif %}
                            {% set tab_pos.value = tab_pos.value + 1 %}
                                <td>{{ doc.surname }} {{ doc.name[0] }}.{{ doc.sec_name[0] }}.</td>
                                <td>{{ doc.speciality }}</td>
                                <td>{{ d.mon }}</td>
                                <td>{{ d.tue }}</td>
                                <td>{{ d.wed }}</td>
                                <td>{{ d.thu }}</td>
                                <td>{{ d.fri }}</td>
                                <td>{{ d.sat }}</td>
                                <td>{{ d.sun }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
    <form action="" method="post">
        <br>
        <p align="center">{{ form.save_but(type="submit", class="btn btn-primary sign pl-3 pr-3 w-100p" )}}</p>
    </form>
{% endblock %}